.favorites_container {
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page_title {
  background-color: black;
  text-align: center;
  color: #fbbc39;
  font-size: 2em;
}

.no_favorites {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  text-align: center;
}

.no_favorites p {
  font-size: 2em;
}

.no_favorites a {
  width: 30em;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  text-decoration: underline;
  margin-left: -0.5em;
}

.no_favorites a:hover {
  color: #fbbc39;
}

.favorites_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.title_card_container {
  margin-bottom: 1em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.single_joke {
  border: 1px solid #222;
  border-radius: 1em;
  background-color: black;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.single_joke h2 {
  color: white;
}

.single_joke svg {
  font-size: 2em;
}

.twopart_joke {
  border: 1px solid #222;
  border-radius: 1em;
  background-color: black;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.twopart_joke h2 {
  color: white;
}
.twopart_joke svg {
  font-size: 2em;
}
