.form_container {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
}

.form_container button {
  background-color: #fbbc39;
  text-decoration: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s;
}

.form_container button:hover {
  background-color: rgb(231, 173, 53);
}

.register_input {
  font-size: 1rem;
  padding: 1rem;
  width: 20rem;
  border: 1px solid #dbdbdb;
  background-color: rgb(245, 245, 245);
  width: 100%;
}

input[type="file"] {
  display: none;
}

.profile_picture_container {
  position: relative;
}

.profile_picture_container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.profile_picture_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.delete_btn {
  position: absolute;
  bottom: 20px;
  right: 33%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_btn svg {
  padding: 1rem;
  font-size: 1rem;
  color: black;
  position: absolute;
}

.no_picture {
  font-size: 5rem;
}

.file_name {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.input_div {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.instructions {
  background-color: black;
  color: white;
  font-size: 0.75rem;
  padding: 1rem;
  text-wrap: wrap;
  border-radius: 1rem;
  max-width: 25rem;
  margin: 1rem auto;
}

.valid {
  color: limegreen;
  position: absolute;
  right: 0;
  top: -5px;
}

.invalid {
  color: red;
  position: absolute;
  right: 0;
  top: -5px;
}
