.controls_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.another_joke,
.like_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s;
  width: 10rem;
  height: 3rem;
}

.another_joke:hover,
.like_button:hover {
  background-color: #fbbc39;
  color: black;
}

.like_button svg {
  font-size: 2rem;
}
