.error_joke {
  border: 1px solid #222;
  border-radius: 1em;
  background-color: black;
  color: white;
  margin: 1em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.error_joke h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.error_joke p {
  margin: 1em auto 1em;
}
