.form_container {
  display: grid;
  gap: 2rem;
  padding-block: 2rem;
}

.input_div {
  display: flex;
  align-items: center;
}

.input_div label {
  height: 3.625rem;
  aspect-ratio: 1;
  background-color: #fbbc39;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.input_div input {
  padding-block: 1rem;
  padding-left: 1rem;
  border: 1px solid #dbdbdb;
  background-color: rgb(245, 245, 245);
  width: 100%;
}

.form_container button {
  background-color: #fbbc39;
  color: black;
  border: none;
  padding: 1rem;
  transition: 0.5s;
}

.form_container button:hover {
  background-color: rgb(231, 173, 53);
}
