.home_container {
  color: #fbbc39;
  margin-block: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: 8rem;
}

.home_container h1 {
  font-size: 2rem;
}

.home_container p {
  font-size: 1.125rem;
}

.link {
  color: black;
}

.link:hover,
.link:focus {
  transition: 0.5s;
  font-size: 1.2em;
}

@media (min-width: 48rem) {
  .home_container h1 {
    font-size: 3rem;
  }

  .home_container p {
    font-size: 1.5rem;
  }
}

@media (min-width: 61rem) {
  .home_container h1 {
    font-size: 4rem;
  }

  .home_container p {
    font-size: 2rem;
  }
}
