.login_container {
  margin-block: 2rem;
  border-radius: 10px;
  width: min-content;
  padding: 2rem;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-inline: auto;
  min-width: 20vw;
  width: 30rem;
  max-width: 90%;
}

.login_container h2 {
  text-align: center;
}

.new_acc_div {
  border-top: 1px solid #dbdbdb;
  padding-top: 2rem;
  text-align: center;
}

.new_acc_link {
  color: #fbbc39;
}

.new_acc_link:hover {
  color: rgb(231, 173, 53);
}
