.login_container {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.login_container h2 {
  text-align: center;
}

.new_acc_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-top: 1px solid #dbdbdb;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
}

.new_acc_link {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #fbbc39;
  text-decoration: underline;
  margin-left: -10px;
}

.new_acc_link:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(231, 173, 53);
}
