.jokes_container {
  margin-top: 1rem;
  width: 100%;
  padding: 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.jokes_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.buttons_div {
  display: flex;
  gap: 4rem;
}

.buttons_div button,
a {
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s;
}

.buttons_div button:hover,
a:hover {
  background-color: #fbbc39;
  color: black;
}

.form_div {
  margin: 0 auto;
  padding: 2rem;
}
