.jokes_container {
  width: 100%;
  padding: 0 0 2em;
  display: flex;
  flex-direction: column;
}

.jokes_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
}

.jokes_header button,
a {
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 2em;
  padding: 1em;
  cursor: pointer;
  font-size: 1em;
  transition: 0.5s;
}

.jokes_header button:hover,
a:hover {
  background-color: #fbbc39;
  color: black;
}

.form_div {
  margin: 0 auto;
  padding: 2em;
}
