.jokes_container {
  margin-top: 3rem;
  width: 100%;
  padding: 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.border_div {
  border-top: 1px solid #dbdbdb;
  width: 35rem;
}

.submit_joke_button {
  text-align: center;
}

.random_joke_button,
.submit_joke_button {
  background-color: black;
  color: white;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s;
  width: 30rem;
}

.random_joke_button:hover,
.submit_joke_button:hover {
  background-color: #fbbc39;
  color: black;
}
