.missing_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  margin: auto;
  margin-top: 4em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2em;
  gap: 4em;
}

.missing_page h2 {
  font-size: 2em;
}
