.footer_container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.social_media_container {
  display: flex;
  gap: 2rem;
}

.social_media_container a {
  text-decoration: none;
  color: white;
  border: none;
  background-color: black;
}

.social_media_container svg {
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.5s;
}

.social_media_container svg:hover {
  color: #fbbc39;
}

.copyright_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
