.radio_container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.radio_option {
  display: flex;
  gap: 1rem;
}

.radio_option:last-of-type {
  margin-right: 0.5rem;
}

.radio_option input {
  margin-left: 0.5rem;
}
