.radio_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.radio_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 0.5rem 1rem;
}

.radio_option:last-of-type {
  margin-right: 0.5rem;
}

.radio_option input {
  margin-left: 0.5rem;
}
